
header h1 {
    margin-top: 40px;
    font-weight: 600;
}

header span {
    color: gray;
}

/* regole main */
[class^='container'] {
    width: 90%;
    margin: 0 auto;
}

[class^='row'] {
    /* border: dashed 1px red; */
}

[class^='col'] {
    /* height: 100px; */
    padding: 20px;
    /* background-color: aquamarine; */
    /* border: 1px solid black; */
}

